.hero {
  min-height: 250px;
  display: flex;
  justify-content: center;
  background-color: var(--color-primary);
  background-image: url(/hero.svg);
  background-position: top center;
  background-repeat: no-repeat;
}

.hero__content {
  margin: 5rem 1.6rem;
  flex: 1;
  color: var(--color-secondary);
}

.hero__title {
  font-size: 1.6rem;
}

/* TODO: Add breakpoints to variable, not possible with CSS variables, consider
PostCSS solution... */
@media (min-width: 320px) {  
  .hero__content {
    max-width: var(--spring);
    flex: 1;
  }

  .hero__content {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}