* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "stratos", "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1\4F53", "Hiragino Sans GB", "\51AC\9752\9ED1\4F53", sans-serif;
}

/* Resets */
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  background: none;
}